@import './variables';


// General styles

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {  
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    color: #d6d6d6;
    background: hsl(var(--primary-clr-300));   
}

h1,
h2,
h3 {
    line-height: 1.1;
    color: hsl(var(--neutral-clr-300));
}

ul[role="list"] {
    list-style: none;
}

a {
    text-decoration: none;
    color: unset;
}

img,
picture {
    max-width: 100%;
    display: block;
    height: auto;
}

input, 
textarea,
select {
    color: unset;
    font: unset;
}